In [161]:
import pandas as pd
from sqlalchemy import create_engine

In [230]:
from os import listdir
from os.path import isfile 
files=[f for f in listdir('./') if isfile(f)]
print(files)

['LOG1.csv', 'LOG2.csv', 'log_preparation.ipynb']

In [234]:
import glob

csv_files=[]
for file in glob.glob('*.csv'):
    csv_files.append(file)
print(csv_files)

['LOG1.csv', 'LOG2.csv']

In [203]:
file='./LOG2.csv'
df=pd.read_csv(file, sep=';',header=None, index_col=False)

In [204]:
df=df.drop(0)

In [206]:
df=df.drop(columns=[3])

In [212]:
df.head()

         4     1                         2                    0
1  9847085  Info  HC3P Stopped manual mode  17.12.2019 08:52:48
2  9847085  Info  HC3P Closing manual mode  17.12.2019 08:52:49
3  9847085  Info  HC3P Stopped manual mode  17.12.2019 08:52:49
4  9847085  Info  HC3P Closing manual mode  17.12.2019 08:52:49
5  9847085  Info  HC3P Stopped manual mode  17.12.2019 08:52:50

In [209]:
df.insert(0,4,'9847085')

In [211]:
df=pd.DataFrame(df, columns=[4,1,2,0])

In [213]:
df[0]=pd.to_datetime(df[0])

In [214]:
df.head()

         4     1                         2                   0
1  9847085  Info  HC3P Stopped manual mode 2019-12-17 08:52:48
2  9847085  Info  HC3P Closing manual mode 2019-12-17 08:52:49
3  9847085  Info  HC3P Stopped manual mode 2019-12-17 08:52:49
4  9847085  Info  HC3P Closing manual mode 2019-12-17 08:52:49
5  9847085  Info  HC3P Stopped manual mode 2019-12-17 08:52:50

In [215]:
df.columns=['logImo_id','logCategory','logDescription','LogDateTime']

In [216]:
df['logImo_id']=pd.to_numeric(df['logImo_id'])

In [217]:
engine=create_engine('mysql://pyuser:pyuser@localhost:3306/mclog_db')

In [218]:
engine.connect()

In [219]:
print(pd.io.sql.get_schema(df, name="shiploghistory",con=engine))

CREATE TABLE shiploghistory (
	`logImo_id` BIGINT,
	`logCategory` TEXT,
	`logDescription` TEXT,
	`LogDateTime` DATETIME
)

In [220]:
df.to_sql(name="shiploghistory",con=engine, if_exists='append', index= False)