In [3]:
from os import listdir
from os.path import isfile 
files=[f for f in listdir('./') if isfile(f)]
print(files)

['LOG1.csv', 'LOG2 - Copy.csv', 'LOG2.csv', 'log_preparation.ipynb']

In [36]:
import pandas as pd
from sqlalchemy import create_engine

In [64]:
import glob

csv_files=[]
for file in glob.glob('*.csv'):
    csv_files.append(file)
print(csv_files)

['LOG16.csv', 'LOG17.csv', 'LOG18.csv', 'LOG19.csv', 'LOG20.csv', 'LOG21.csv', 'LOG22.csv', 'LOG23.csv', 'LOG24.csv', 'LOG25.csv', 'LOG26.csv', 'LOG27.csv', 'LOG28.csv', 'LOG29.csv', 'LOG30.csv', 'LOG31.csv', 'LOG32.csv', 'LOG33.csv', 'LOG34.csv', 'LOG35.csv', 'LOG36.csv', 'LOG37.csv', 'LOG38.csv']

In [65]:
# ADD TRY AND CATCH TO SAVE ANY ERROR WHILE READING THE FILE
for file in csv_files:
    df=pd.read_csv(file, sep=';',header=None, index_col=False)
    df=df.drop(0)
    if len(df.columns)>3:
        df=df.drop(columns=[3])        
#     else:
#         df.insert(0,3,'9906049')
    df.insert(0,4,3)
    df=pd.DataFrame(df, columns=[4,1,2,0])
    df[0]=pd.to_datetime(df[0], dayfirst=True)
    df.columns=['logImo_id','logCategory','logDescription','LogDateTime']
    df['logImo_id']=pd.to_numeric(df['logImo_id'])
    engine=create_engine('mysql://pyuser:pyuser@localhost:3306/mclog_db')
    engine.connect()
#     print(pd.io.sql.get_schema(df, name="mclogapp_shiplogs",con=engine))
    df.to_sql(name="mclogapp_shiplogs",con=engine, if_exists='append', index= False)
    print(file)

LOG16.csv
LOG17.csv
LOG18.csv
LOG19.csv
LOG20.csv
LOG21.csv
LOG22.csv
LOG23.csv
LOG24.csv
LOG25.csv
LOG26.csv
LOG27.csv
LOG28.csv
LOG29.csv
LOG30.csv
LOG31.csv
LOG32.csv
LOG33.csv
LOG34.csv
LOG35.csv
LOG36.csv
LOG37.csv
LOG38.csv

In [24]:
engine=create_engine('mysql://pyuser:pyuser@localhost:3306/mclog_db')
engine.connect()
print(pd.io.sql.get_schema(df, name="mclogapp_shiplogs",con=engine))
df.to_sql(name="mclogapp_shiplogs",con=engine, if_exists='append', index= False)

CREATE TABLE mclogapp_shiplogs (
	`logImo_id` BIGINT,
	`logCategory` TEXT,
	`logDescription` TEXT,
	`LogDateTime` DATETIME
)

In [53]:
file='./LOG24.csv'
df=pd.read_csv(file, sep=';',header=None, index_col=False)

In [54]:
df=df.drop(0)

In [206]:
df=df.drop(columns=[3])

In [59]:
df.tail()

                       0            1                       2   3
3996 2022-03-10 01:49:18         Info      HC3P Heating ended NaN
3997 2022-03-10 01:49:19  Deactivated  T1P Communication lost NaN
3998 2022-03-10 01:49:19         Info    HC3P Heating started NaN
3999 2022-03-10 01:49:21        Fault  T1P Communication lost NaN
4000 2022-03-10 01:49:21         Info      HC3P Heating ended NaN

In [209]:
df.insert(0,4,'9847085')

In [211]:
df=pd.DataFrame(df, columns=[4,1,2,0])

In [48]:
df=df.drop(0)

In [57]:
df[0]=pd.to_datetime(df[0], dayfirst=True)

In [58]:
df.head()

                    0            1                              2   3
1 2022-03-03 05:39:18  Deactivated         T1P Communication lost NaN
2 2022-03-03 05:39:18        Fault  T1P Fault FBA A communication NaN
3 2022-03-03 05:39:18        Fault         T1P Communication lost NaN
4 2022-03-03 05:39:18  Deactivated                     T1P Fault  NaN
5 2022-03-03 05:39:19  Deactivated         T1P Communication lost NaN

In [215]:
df.columns=['logImo_id','logCategory','logDescription','LogDateTime']

In [216]:
df['logImo_id']=pd.to_numeric(df['logImo_id'])

In [217]:
engine=create_engine('mysql://pyuser:pyuser@localhost:3306/mclog_db')

In [218]:
engine.connect()

In [219]:
print(pd.io.sql.get_schema(df, name="shiploghistory",con=engine))

CREATE TABLE shiploghistory (
	`logImo_id` BIGINT,
	`logCategory` TEXT,
	`logDescription` TEXT,
	`LogDateTime` DATETIME
)

In [220]:
df.to_sql(name="shiploghistory",con=engine, if_exists='append', index= False)