In [161]:
import pandas as pd
from sqlalchemy import create_engine

In [162]:
file='./LOG1.csv'
df=pd.read_csv(file, sep=';',header=None, index_col=False)

In [163]:
df.head()

,0,1,2,3
0,01.01.1970 00:00:27,Fault,Emergency stop,","
1,01.01.1970 00:00:27,Fault,PLC Group configuration fault,","
2,01.01.1970 00:00:27,Fault,PLC Memory cleared,","
3,01.01.1970 00:00:27,Info,"PLC Powered ON, last shutdown time 01.01.1970 ...",NaN
4,01.01.1970 00:00:27,Fault,T1P Fault FBA A communication,","

In [164]:
engine=create_engine('mysql://pyuser:pyuser@localhost:3306/mclog_db')

In [165]:
engine.connect()

In [166]:
df.insert(0,4,'9847085')

In [167]:
df=pd.DataFrame(df, columns=[4,1,2,0])

In [168]:
df[0]=pd.to_datetime(df[0])

In [173]:
df.head()

,logImo_id,logCategory,logDescription,LogDateTime
0,9847085,Fault,Emergency stop,1970-01-01 00:00:27
1,9847085,Fault,PLC Group configuration fault,1970-01-01 00:00:27
2,9847085,Fault,PLC Memory cleared,1970-01-01 00:00:27
3,9847085,Info,"PLC Powered ON, last shutdown time 01.01.1970 ...",1970-01-01 00:00:27
4,9847085,Fault,T1P Fault FBA A communication,1970-01-01 00:00:27

In [170]:
df.columns=['logImo_id','logCategory','logDescription','LogDateTime']

In [171]:
df['logImo_id']=pd.to_numeric(df['logImo_id'])

In [174]:
print(pd.io.sql.get_schema(df, name="shiploghistory",con=engine))

CREATE TABLE shiploghistory (
	`logImo_id` BIGINT,
	`logCategory` TEXT,
	`logDescription` TEXT,
	`LogDateTime` DATETIME
)

In [175]:
df.to_sql(name="shiploghistory",con=engine, if_exists='append', index= False)