In [100]:
import pandas as pd
from sqlalchemy import create_engine

In [131]:
file='./LOG1.csv'
df=pd.read_csv(file, sep=';')

In [132]:
df.head()

,Time,Class,Description,Unnamed: 3
0,01.01.1970 00:00:27,Fault,Emergency stop,NaN
1,01.01.1970 00:00:27,Fault,PLC Group configuration fault,NaN
2,01.01.1970 00:00:27,Fault,PLC Memory cleared,NaN
3,01.01.1970 00:00:27,Info,"PLC Powered ON, last shutdown time 01.01.1970 ...",NaN
4,01.01.1970 00:00:27,Fault,T1P Fault FBA A communication,NaN

In [104]:
engine=create_engine('mysql://pyuser:pyuser@localhost:3306')

In [105]:
engine.connect()

In [122]:
list(df.columns)

['Time', 'Class', 'Description', 'Unnamed: 3']

In [135]:
df=pd.DataFrame(df, columns=['Imo','Time', 'Class', 'Description'])

In [136]:
df.Time=pd.to_datetime(df.Time)

In [133]:
df.insert(0, 'Imo','9847085')

In [137]:
df.head()

,Imo,Time,Class,Description
0,9847085,1970-01-01 00:00:27,Fault,Emergency stop
1,9847085,1970-01-01 00:00:27,Fault,PLC Group configuration fault
2,9847085,1970-01-01 00:00:27,Fault,PLC Memory cleared
3,9847085,1970-01-01 00:00:27,Info,"PLC Powered ON, last shutdown time 01.01.1970 ..."
4,9847085,1970-01-01 00:00:27,Fault,T1P Fault FBA A communication

In [139]:
print(pd.io.sql.get_schema(df, name="mclogapp_shiplogs",con=engine))

CREATE TABLE mclogapp_shiplogs (
	`Imo` TEXT,
	`Time` DATETIME,
	`Class` TEXT,
	`Description` TEXT
)

In [145]:
df.shape[1]

4

In [146]:
range(df.shape[1])

range(0, 4)