In [28]:
import pandas as pd
from sqlalchemy import create_engine

In [68]:
file='./LOG1.csv'
df=pd.read_csv(file, sep=';')

In [69]:
df.head()

,Time,Class,Description,Unnamed: 3
0,01.01.1970 00:00:27,Fault,Emergency stop,NaN
1,01.01.1970 00:00:27,Fault,PLC Group configuration fault,NaN
2,01.01.1970 00:00:27,Fault,PLC Memory cleared,NaN
3,01.01.1970 00:00:27,Info,"PLC Powered ON, last shutdown time 01.01.1970 ...",NaN
4,01.01.1970 00:00:27,Fault,T1P Fault FBA A communication,NaN

In [37]:
engine=create_engine('mysql://pyuser:pyuser@localhost:3306')

In [38]:
engine.connect()

In [71]:
list(df.columns)

['Time', 'Class', 'Description', 'Unnamed: 3']

In [79]:
df=pd.DataFrame(df, columns=['Imo','Time', 'Class', 'Description'])

In [80]:
df.Time=pd.to_datetime(df.Time)

In [82]:
df.head(10)

,Imo,Time,Class,Description
0,NaN,1970-01-01 00:00:27,Fault,Emergency stop
1,NaN,1970-01-01 00:00:27,Fault,PLC Group configuration fault
2,NaN,1970-01-01 00:00:27,Fault,PLC Memory cleared
3,NaN,1970-01-01 00:00:27,Info,"PLC Powered ON, last shutdown time 01.01.1970 ..."
4,NaN,1970-01-01 00:00:27,Fault,T1P Fault FBA A communication
5,NaN,1970-01-01 00:00:27,Fault,T1S Fault FBA A communication
6,NaN,1970-01-01 00:00:29,Fault,RR1 Communication lost
7,NaN,1970-01-01 00:04:09,Info,"PLC System time updated, new time 01.01.1970 0..."
8,NaN,1970-01-01 00:00:00,Deactivated,PLC Group configuration fault
9,NaN,1970-01-01 00:00:00,Fault,PLC Group configuration fault

In [83]:
print(pd.io.sql.get_schema(df, name="mclogapp_shiplogs",con=engine))

CREATE TABLE mclogapp_shiplogs (
	`Imo` FLOAT(53),
	`Time` DATETIME,
	`Class` TEXT,
	`Description` TEXT
)